{% set countries = app['orm.em'].getRepository('Application\\Entity\\ParticipantEntity').getByCountries(app) %}
<div class="panel panel-primary">
    <div class="panel-heading">{{ 'Participants by Countries' | trans }}</div>
    <div id="participants-by-countries-chart" style="height: 200px; width: 100%;"></div>
</div> <!-- /.panel -->

<script>
    document.addEventListener(
        "DOMContentLoaded",
        function(event) {
            initializeParticipantsByCountriesChart();
        }
    );

    var participantsByCountriesChart;
    function initializeParticipantsByCountriesChart() {
        jQuery('#participants-by-countries-chart').html('');
        participantsByCountriesChart = new Morris.Bar({
            element: 'participants-by-countries-chart',
            resize: true,
            data: [
                {% for key, value in countries %}
                    {
                        country: '{{ key }}',
                        count: {{ value }}
                    },
                {% endfor %}
            ],
            xkey: 'country',
            ykeys: [ 'count' ],
            labels: [ '{{ 'Count'|trans }}' ],
        });
    }
</script>
