{% set participants = app['orm.em'].getRepository('Application\\Entity\\ParticipantEntity').getByDays() %}
<div class="panel panel-primary">
    <div class="panel-heading">{{ 'Participants by days' | trans }}</div>
    <div id="participants-by-days-chart" style="height: 200px; width: 100%;"></div>
</div> <!-- /.panel -->

<script>
    document.addEventListener(
        "DOMContentLoaded",
        function(event) {
            initializeParticipantsByDaysChart();
        }
    );

    var participantsByDaysChart;
    function initializeParticipantsByDaysChart() {
        jQuery('#participants-by-days-chart').html('');
        participantsByDaysChart = new Morris.Line({
            element: 'participants-by-days-chart',
            resize: true,
            data: [
                {% for participant in participants %}
                    {
                        date: '{{ participant.date }}',
                        count: {{ participant.count }}
                    },
                {% endfor %}
            ],
            parseTime: false,
            xkey: 'date',
            ykeys: [ 'count' ],
            labels: [ '{{ 'Participants'|trans }}' ],
            yLabelFormat: function(y){
                return y != Math.round(y) ? '' : y;
            },
        });
    }
</script>
