*~
/composer.lock
/composer.phar
/app/configs/global-local.php
/app/configs/environments/development.php
/app/configs/environments/development-local.php
/app/configs/environments/testing-local.php
/app/configs/environments/staging-local.php
/app/configs/environments/production-local.php
/app/locales/*_untranslated.yml
/var/*
!/var/.gitkeep
/vendor/
/bin/*
!/bin/application
!/bin/console
/web/assets/vendor/*
/web/assets/uploads/*
!/web/assets/uploads/.gitkeep
