{% extends 'layouts/content.html.twig' %}

{% set isContainerFluid = false %}

{% block main %}
	<h1>{{ 'Error'|trans }} 404</h1>
	<div id="main-content">
		The page you were looking for was not found. <br />
		We are very sorry for that. :(
	</div>
{% endblock %}
