{% extends 'layouts/content.html.twig' %}

{% set isContainerFluid = false %}

{% block main %}
	<h1>{{ 'Error'|trans }}</h1>
	<div id="main-content">
		Something went wrong. :(
	</div>
{% endblock %}
