{% extends 'layouts/content.html.twig' %}

{% set isContainerFluid = false %}

{% block main %}
	<h1>{{ 'Home'|trans }}</h1>
	<div id="main-content">
		{{ 'home.contentText' | trans | raw }}
	</div>
{% endblock %}
