{% set browsers = app['orm.em'].getRepository('Application\\Entity\\EntryEntity').getByBrowsers(app) %}
<div class="panel panel-primary">
    <div class="panel-heading">{{ 'Entries by Browsers' | trans }}</div>
    <div id="entries-by-browsers-chart" style="height: 200px; width: 100%;"></div>
</div> <!-- /.panel -->

<script>
    document.addEventListener(
        "DOMContentLoaded",
        function(event) {
            initializeEntriesByBrowsersChart();
        }
    );

    var entriesByBrowsersChart;
    function initializeEntriesByBrowsersChart() {
        jQuery('#entries-by-browsers-chart').html('');
        entriesByBrowsersChart = new Morris.Bar({
            element: 'entries-by-browsers-chart',
            resize: true,
            data: [
                {% for key, value in browsers %}
                    {
                        browser: '{{ key }}',
                        count: {{ value }}
                    },
                {% endfor %}
            ],
            xkey: 'browser',
            ykeys: [ 'count' ],
            labels: [ '{{ 'Count'|trans }}' ],
        });
    }
</script>
