{% set entries = app['orm.em'].getRepository('Application\\Entity\\EntryEntity').getByDays() %}
<div class="panel panel-primary">
    <div class="panel-heading">{{ 'Entries by days' | trans }}</div>
    <div id="entries-by-days-chart" style="height: 200px; width: 100%;"></div>
</div> <!-- /.panel -->

<script>
    document.addEventListener(
        "DOMContentLoaded",
        function(event) {
            initializeEntriesByDaysChart();
        }
    );

    var entriesByDaysChart;
    function initializeEntriesByDaysChart() {
        jQuery('#entries-by-days-chart').html('');
        entriesByDaysChart = new Morris.Line({
            element: 'entries-by-days-chart',
            resize: true,
            data: [
                {% for entry in entries %}
                    {
                        date: '{{ entry.date }}',
                        count: {{ entry.count }}
                    },
                {% endfor %}
            ],
            parseTime: false,
            xkey: 'date',
            ykeys: [ 'count' ],
            labels: [ '{{ 'Entries'|trans }}' ],
            yLabelFormat: function(y){
                return y != Math.round(y) ? '' : y;
            },
        });
    }
</script>
