<div id="participate-panel"
    class="panel panel-primary">
    <div class="panel-heading">
        {{ 'Participate' | trans }}
    </div>
    <div class="panel-body">
        {{ form(form) }}
    </div>
</div>
