{% extends 'layouts/content/application.html.twig' %}

{% set isContainerFluid = false %}

{% block main %}
	<h1 class="text-center">
		Hello and Welcome to our great xxx Application!
	</h1>
	<p>
		The main prizes are:
	</p>
	<ul>
		<li>1.Place: 3 x Banana + 1 x Apple</li>
		<li>2.Place: 1 x Apple</li>
		<li>3.Place: 1 x Thank you Email</li>
	</ul>
	<a class="btn btn-lg btn-block btn-danger"
		href="{{ url('application.participate') }}">
		Participate NOW!
	</a>
{% endblock %}
