{% set operatingSystems = app['orm.em'].getRepository('Application\\Entity\\VoteEntity').getByOperatingSystems(app) %}
<div class="panel panel-primary">
    <div class="panel-heading">{{ 'Votes by Operating Systems' | trans }}</div>
    <div id="votes-by-operating-systems-chart" style="height: 200px; width: 100%;"></div>
</div> <!-- /.panel -->

<script>
    document.addEventListener(
        "DOMContentLoaded",
        function(event) {
            initializeVotesByOperatingSystemsChart();
        }
    );

    var votesByOperatingSystemsChart;
    function initializeVotesByOperatingSystemsChart() {
        jQuery('#votes-by-operating-systems-chart').html('');
        votesByOperatingSystemsChart = new Morris.Bar({
            element: 'votes-by-operating-systems-chart',
            resize: true,
            data: [
                {% for key, value in operatingSystems %}
                    {
                        operatingSystem: '{{ key }}',
                        count: {{ value }}
                    },
                {% endfor %}
            ],
            xkey: 'operatingSystem',
            ykeys: [ 'count' ],
            labels: [ '{{ 'Count'|trans }}' ],
        });
    }
</script>
