<?php

return array(
    // Database / Doctrine options
    'databaseOptions' => array(
        'default' => array(
            'driver' => 'pdo_mysql',
            'host' => 'localhost',
            'dbname' => 'wask',
            'user' => 'wask',
            'password' => 'wask',
            'charset' => 'utf8',
        ),
    ),
);
