<div class="row">
    <div class="col-md-6">
        {{ paginator_results_text_render(pagination) }}
    </div>
    <div class="col-md-6">
        <nav class="text-right">
            {{ paginator_pagination_render(pagination) }}
        </nav>
    </div>
</div>
