<div class="row">
    <div class="col-md-6">
        {{ paginator_limit_per_page_render(pagination) }}
    </div>
    <div class="col-md-6 text-right">
        {{ paginator_search_render(pagination) }}
    </div>
</div>
