{% set searchFields = pagination.getPaginatorOption('searchFields') %}
{% if searchFields %}
    <div style="display: inline-block;">
        <div class="input-group">
            <input id="paginator-search-input"
                class="form-control input-sm" type="search"
                value="{{ app.request.get(pagination.getPaginatorOption('searchParameter'), '') }}" />
            <span class="input-group-btn">
                <button id="paginator-search-button"
                    class="btn btn-default btn-sm"
                    type="button">
                    {{ 'Search' | trans }}
                </button>
                <button id="paginator-search-clear-button"
                    class="btn btn-default btn-sm"
                    type="reset">
                    {{ 'Clear' | trans }}
                </button>
            </span>
        </div><!-- /input-group -->
    </div>
{% endif %}
