<div id="votes-tab"
    class="tab-pane fade in"
    role="tabpanel">
    <div class="row">
        <div class="col-md-12">
            <h3>{{ 'Votes' | trans }}</h3>
        </div> <!-- /.col-md-12 -->
        <div class="col-md-12">
            {% include 'contents/members-area/statistics/_panels/votes/by-hours-panel.html.twig' %}
        </div> <!-- /.col-md-12 -->
        <div class="col-md-12">
            {% include 'contents/members-area/statistics/_panels/votes/by-days-panel.html.twig' %}
        </div> <!-- /.col-md-12 -->
        <div class="col-md-12">
            {% include 'contents/members-area/statistics/_panels/votes/by-browsers-panel.html.twig' %}
        </div> <!-- /.col-md-12 -->
        <div class="col-md-12">
            {% include 'contents/members-area/statistics/_panels/votes/by-operating-systems-panel.html.twig' %}
        </div> <!-- /.col-md-12 -->
        <div class="col-md-12">
            {% include 'contents/members-area/statistics/_panels/votes/by-device-types-panel.html.twig' %}
        </div> <!-- /.col-md-12 -->
        <div class="col-md-12">
            {% include 'contents/members-area/statistics/_panels/votes/by-devices-panel.html.twig' %}
        </div> <!-- /.col-md-12 -->
        <div class="col-md-12">
            {% include 'contents/members-area/statistics/_panels/votes/by-cities-panel.html.twig' %}
        </div> <!-- /.col-md-12 -->
        <div class="col-md-12">
            {% include 'contents/members-area/statistics/_panels/votes/by-countries-panel.html.twig' %}
        </div> <!-- /.col-md-12 -->
    </div> <!-- /.row -->
</div> <!-- #votes-tab -->
